  <header>
    <div class="page-header min-vh-85">
      <div>
        <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="https://img.antaranews.com/cache/1200x800/2023/01/14/smoke-2636848_1920.jpg.webp" alt="image" loading="lazy">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex">
            <div class="card card-body blur text-md-start text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5">
              <h2 class="text-dark mb-0">WARNING: This product contains nicotine.
Nicotine is an addictive chemical.</h2>
              <div class="buttons">
                <button type="button" class="btn btn-rounded bg-gradient-primary mt-4">Contact Us</button>
                <button type="button" class="btn btn-rounded btn-outline-secondary mt-4 ms-2">Read More</button>
              </div>

              <div class="row mt-2">
                <div class="col-md-3 col-6 p-0">
                  <img class="w-50" src="static/halaman/assets/img/logos/gray-logos/lv.png" alt="logo">

                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>