{% extends 'halaman/base.html' %}

{% load static %}

{% block content %}
<main>

    <!-- Banner area start here -->
    <section class="banner-two">
        <div class="banner-two__shape-left d-none d-lg-block wow bounceInLeft" data-wow-duration="1s"
             data-wow-delay=".5s">
            <img src="{% static 'halaman/assets/images/shape/vape1.png' %}" alt="shape">
        </div>
        <div class="banner-two__shape-right d-none d-lg-block wow bounceInRight" data-wow-duration="1s"
             data-wow-delay=".1s">
            <img class="sway_Y__animation " src="{% static 'halaman/assets/images/shape/vape2.png' %}" alt="shape">
        </div>
        <div class="banner-two__arry-btn">
            <button class="arry-prev mb-15 banner-two__arry-prev"><i class="fa-light fa-chevron-left"></i></button>
            <button class="arry-next active banner-two__arry-next"><i
                    class="fa-light fa-chevron-right"></i></button>
        </div>
    </section>
    <!-- Banner area end here -->

    <!-- Product area start here -->
    <section class="product-area pt-130 pb-130 mt-130">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <ul class="nav nav-pills nav-pills-primary">
                            <li class="active">
                                <a href="#pills">All</a>
                            </li >
                            {% for kategori in data_kategori %}
                            <li>
                                <a href="/?kategori={{kategori.nama}}">{{ kategori }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-header d-flex align-items-center wow fadeInUp" data-wow-delay=".1s">
            <span class="title-icon mr-10"></span>
            <h2>Produk Kami</h2>
        </div>
        <div class="tab-content">
            <div id="latest-item" class="tab-pane fade show active">
                <div class="row g-4">
                    {% for artikel in data_artikel %}
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product__item bor">
                            <a href="{% static 'shop-single.html' %}" class="product__image pt-20 d-block">
                                {% if artikel.thumbmail %}
                                <img class="font-image" src="{{ artikel.thumbmail.url }}">
                                {% else %}
                                <img src="{{% url 'detail_artikel' artikel.slug %}]" alt="image">
                                {% endif %}
                            </a>
                            <div class="product__content">
                                <h6 class="category text-info">{{ artikel.kategori }}</h6>
                                <h4 class="mb-15"><a class="primary-hover"
                                                     href="{% url 'detail_artikel' artikel.slug %}">{{ artikel.nama }}</a></h4>
                                <p class="card-description">{{ artikel.speksifikasi | truncatechars:"100" }}
                                    <a href="{% url 'detail_artikel' artikel.slug %}">Read More</a>
                                </p>
                                <span class="badge badge-danger">{{ artikel.create }}</span>
                                <del>Rp 580.000</del>
                                <span class="primary-color ml-10">Rp 500.000</span>
                                <div class="star mt-20">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Product area end here -->

    <!-- Discount area start here -->
    <section class="discount-area bg-image" data-background="assets/images/bg/discount-bg2.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="image mb-5 mb-lg-0"><img
                            src="{% static 'halaman/assets/images/discount/discount-image2.png' %}"
                            alt="image"></div>
                </div>
                <div class="col-lg-6">
                    <div class="discount__item ps-0 pb-5 pb-lg-0 ps-lg-5">
                        <div class="section-header">
                            <div class="section-title-icon wow fadeInUp" data-wow-delay=".1s">
                                <span class="title-icon mr-10"></span>
                                <h2>find your best favourite</h2>
                            </div>
                            <p class="mt-30 mb-55 wow fadeInUp" data-wow-delay=".2s">Sell globally in minutes with
                                localized currencies languages, and
                                <br>
                                experie in every
                                market. only a variety of vaping
                                products
                            </p>
                            <a class="btn-one wow fadeInUp" data-wow-delay=".3s" href="{% static 'shop.html' %}"><span>Shop
                                        Now</span></a>
                            <a class="off-btn wow fadeInUp" data-wow-delay=".4s" href="#0"><img class="mr-10"
                                                                                                src="{% static 'halaman/assets/images/icon/fire.svg' %}"
                                                                                                alt="icon"> GET <span
                                    class="primary-color">25%
                                        OFF</span> NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discount area end here -->

    <!-- Get now area start here -->
    <!--    <section class="get-now-area pt-130 pb-130">-->
    <!--        <div class="container">-->
    <!--            <div class="row align-items-center">-->
    <!--                <div class="col-xl-6">-->
    <!--                    <h4 class="mb-30 wow fadeInUp" data-wow-delay=".1s"><img-->
    <!--                            src="{% static 'halaman/assets/images/icon/fire.svg' %}"-->
    <!--                            alt="icon">-->
    <!--                        GET <span class="primary-color">25% OFF</span> NOW</h4>-->
    <!--                    <div class="section-header d-flex align-items-center wow fadeInUp" data-wow-delay=".2s">-->
    <!--                        <span class="title-icon mr-10"></span>-->
    <!--                        <h2>latest arrival products</h2>-->
    <!--                    </div>-->
    <!--                    <div class="get-now__content">-->
    <!--                        <div class="get-info py-4 wow fadeInUp" data-wow-delay=".2s">-->
    <!--                            <del>$99.00</del>-->
    <!--                            <span>$49.00</span>-->
    <!--                        </div>-->
    <!--                        <p class="fw-600 wow fadeInUp" data-wow-delay=".3s">There are many variations of passages of-->
    <!--                            Lorem Ipsum available, but <br>-->
    <!--                            the-->
    <!--                            majority have-->
    <!--                            suffered alteration in some form,-->
    <!--                            by injected humour, or randomised words which</p>-->
    <!--                        <ul class="pt-30 pb-30 bor-bottom wow fadeInUp" data-wow-delay=".3s">-->
    <!--                            <li>100% Natural</li>-->
    <!--                            <li>Coupon $61.99, Code: W2</li>-->
    <!--                            <li>30 Day Refund</li>-->
    <!--                        </ul>-->
    <!--                        <div class="time-up d-flex flex-wrap align-items-center gap-5 mt-30 wow fadeInUp"-->
    <!--                             data-wow-delay=".4s">-->
    <!--                            <div class="info">-->
    <!--                                <h4>HUNGRY UP !</h4>-->
    <!--                                <span>Offer end in :</span>-->
    <!--                            </div>-->
    <!--                            <div class="d-flex gap-2 align-items-center">-->
    <!--                                <div class="get-time">-->
    <!--                                    <h3 id="day">00</h3>-->
    <!--                                    <span>Day</span>-->
    <!--                                </div>-->
    <!--                                <div class="get-time">-->
    <!--                                    <h3 id="hour">00</h3>-->
    <!--                                    <span>Hr</span>-->
    <!--                                </div>-->
    <!--                                <div class="get-time">-->
    <!--                                    <h3 id="min">00</h3>-->
    <!--                                    <span>Min</span>-->
    <!--                                </div>-->
    <!--                                <div class="get-time">-->
    <!--                                    <h3 id="sec">00</h3>-->
    <!--                                    <span>Sec</span>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col-xl-6">-->
    <!--                    <div class="get-now__image mt-5 mt-xl-0">-->
    <!--                        <div class="get-bg-image">-->
    <!--                            <img src="{% static 'halaman/assets/images/shop/get-bg.png' %}" alt="image">-->
    <!--                        </div>-->
    <!--                        <div class="swiper get__slider">-->
    <!--                            <div class="swiper-wrapper">-->
    <!--                                <div class="swiper-slide">-->
    <!--                                    <div class="image">-->
    <!--                                        <img src="{% static 'halaman/assets/images/shop/get-image.png' %}" alt="image">-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                                <div class="swiper-slide">-->
    <!--                                    <div class="image">-->
    <!--                                        <img src="{% static 'halaman/assets/images/shop/get-image2.png' %}" alt="image">-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <button class="get-now-arry get-now__arry-left">-->
    <!--                            <i class="fa-light fa-chevron-left"></i>-->
    <!--                        </button>-->
    <!--                        <button class="get-now-arry get-now__arry-right text-warning">-->
    <!--                            <i class="fa-light fa-chevron-right"></i>-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
    <!-- Get now area end here -->

    <!-- Text slider area start here -->
    <!--    <div class="container">-->
    <!--        <div class="bor-top pb-40"></div>-->
    <!--    </div>-->
    <!--    <div class="marquee-wrapper text-slider">-->
    <!--        <div class="marquee-inner to-left">-->
    <!--            <ul class="marqee-list d-flex">-->
    <!--                <li class="marquee-item">-->
    <!--                    E-Cigarettes <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon"> <span>Vape Pens</span>-->
    <!--                    <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon">-->
    <!--                    Vape Juice <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon"> <span>E-Cigarettes</span>-->
    <!--                    <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon">-->
    <!--                    Vape Pens <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon"> <span>Vape Juice</span>-->
    <!--                    <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon">-->
    <!--                    E-Cigarettes <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon"> <span>Vape Pens</span>-->
    <!--                    <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon">-->
    <!--                    Vape Juice <img src="{% static 'halaman/assets/images/icon/title-left.svg' %}" alt="icon"> <span>E-Cigarettes</span>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="container">-->
    <!--        <div class="bor-top pb-65"></div>-->
    <!--    </div>-->
    <!-- Text slider area end here -->

    <!-- Gallery area start here -->
    <!--    <section class="gallery-area">-->
    <!--        <div class="swiper gallery__slider">-->
    <!--            <div class="swiper-wrapper">-->
    <!--                <div class="swiper-slide">-->
    <!--                    <div class="gallery__item">-->
    <!--                        <div class="off-tag">50% <br>-->
    <!--                            off-->
    <!--                        </div>-->
    <!--                        <div class="gallery__image image">-->
    <!--                            <img src="{% static 'halaman/assets/images/gallery/gallery-image1.jpg' %}" alt="image">-->
    <!--                        </div>-->
    <!--                        <div class="gallery__content">-->
    <!--                            <h3 class="mb-10"><a href="{% static 'shop-2.html' %}">best e-lequid</a></h3>-->
    <!--                            <p>Best E liquids from our huge collection</p>-->
    <!--                            <a href="{% static 'shop-2.html' %}" class="btn-two mt-25"><span>Shop Now</span></a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="swiper-slide">-->
    <!--                    <div class="gallery__item">-->
    <!--                        <div class="off-tag">50% <br>-->
    <!--                            off-->
    <!--                        </div>-->
    <!--                        <div class="gallery__image image">-->
    <!--                            <img src="{% static 'halaman/assets/images/gallery/gallery-image2.jpg' %}" alt="image">-->
    <!--                        </div>-->
    <!--                        <div class="gallery__content">-->
    <!--                            <h3 class="mb-10"><a href="{% static 'shop-2.html' %}">best vape flavours</a></h3>-->
    <!--                            <p>Best E liquids from our huge collection</p>-->
    <!--                            <a href="{% static 'shop-2.html' %}" class="btn-two mt-25"><span>Shop Now</span></a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="swiper-slide">-->
    <!--                    <div class="gallery__item">-->
    <!--                        <div class="off-tag">50% <br>-->
    <!--                            off-->
    <!--                        </div>-->
    <!--                        <div class="gallery__image image">-->
    <!--                            <img src="{% static 'halaman/assets/images/gallery/gallery-image3.jpg' %}" alt="image">-->
    <!--                        </div>-->
    <!--                        <div class="gallery__content">-->
    <!--                            <h3 class="mb-10"><a href="{% static 'shop-2.html' %}">Battery And Charger Kit</a></h3>-->
    <!--                            <p>Best E liquids from our huge collection</p>-->
    <!--                            <a href="{% static 'shop-2.html' %}" class="btn-two mt-25"><span>Shop Now</span></a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="swiper-slide">-->
    <!--                    <div class="gallery__item">-->
    <!--                        <div class="off-tag">50% <br>-->
    <!--                            off-->
    <!--                        </div>-->
    <!--                        <div class="gallery__image image">-->
    <!--                            <img src="{% static 'halaman/assets/images/gallery/gallery-image4.jpg' %}" alt="image">-->
    <!--                        </div>-->
    <!--                        <div class="gallery__content">-->
    <!--                            <h3 class="mb-10"><a href="{% static 'shop-2.html' %}">best vape tanks</a></h3>-->
    <!--                            <p>Best E liquids from our huge collection</p>-->
    <!--                            <a href="{% static 'shop-2.html' %}" class="btn-two mt-25"><span>Shop Now</span></a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="swiper-slide">-->
    <!--                    <div class="gallery__item">-->
    <!--                        <div class="off-tag">50% <br>-->
    <!--                            off-->
    <!--                        </div>-->
    <!--                        <div class="gallery__image image">-->
    <!--                            <img src="{% static 'halaman/assets/images/gallery/gallery-image5.jpg' %}" alt="image">-->
    <!--                        </div>-->
    <!--                        <div class="gallery__content">-->
    <!--                            <h3 class="mb-10"><a href="{% static 'shop-2.html' %}">POP Extra Strawberry</a></h3>-->
    <!--                            <p>Best E liquids from our huge collection</p>-->
    <!--                            <a href="{% static 'shop-2.html' %}" class="btn-two mt-25"><span>Shop Now</span></a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
    <!-- Gallery area end here -->

    <!-- Brand area start here -->
    <!--    <section class="brand-area pt-130 pb-130">-->
    <!--        <div class="container">-->
    <!--            <div class="sub-title text-center mb-65">-->
    <!--                <h3><span class="title-icon"></span> our top brands <span class="title-icon"></span>-->
    <!--                </h3>-->
    <!--            </div>-->
    <!--            <div class="swiper brand__slider">-->
    <!--                <div class="swiper-wrapper">-->
    <!--                    <div class="swiper-slide">-->
    <!--                        <div class="brand__item bor radius-10 text-center p-4">-->
    <!--                            <img src="{% static 'halaman/assets/images/brand/brand1.png' %}" alt="icon">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="swiper-slide">-->
    <!--                        <div class="brand__item bor radius-10 text-center p-4">-->
    <!--                            <img src="{% static 'halaman/assets/images/brand/brand2.png' %}" alt="icon">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="swiper-slide">-->
    <!--                        <div class="brand__item bor radius-10 text-center p-4">-->
    <!--                            <img src="{% static 'halaman/assets/images/brand/brand3.png' %}" alt="icon">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="swiper-slide">-->
    <!--                        <div class="brand__item bor radius-10 text-center p-4">-->
    <!--                            <img src="{% static 'halaman/assets/images/brand/brand4.png' %}" alt="icon">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="swiper-slide">-->
    <!--                        <div class="brand__item bor radius-10 text-center p-4">-->
    <!--                            <img src="{% static 'halaman/assets/images/brand/brand5.png' %}" alt="icon">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="swiper-slide">-->
    <!--                        <div class="brand__item bor radius-10 text-center p-4">-->
    <!--                            <img src="{% static 'halaman/assets/images/brand/brand6.png' %}" alt="icon">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </section>-->
    <!-- Brand area end here -->
</main>

{% endblock content %}