{% extends 'halaman/base.html' %}

{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 ms-auto me-auto text-center">
          <h2>START VAPING WITH LOST VAPE</h2>
          <p>
            Founded in 2014, Lost Vape is a distinguished and reputable vaping brand integrating product R&D, manufacturing, sales, and marketing services. As a global high-tech brand, its cutting-edge technology and sleek designs have earned the brand a professional and famous impression worldwide, making it a go-to choice for vapers who value style, performance, and safety.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 position-relative">
          <div class="position-relative ms-md-5 me-md-n5">
            <div class="blur-shadow-image">
              <img class="image-left border-radius-lg img-fluid position-relative top-0 end-0 bg-cover" src="https://images.unsplash.com/photo-1576425955345-f48eae74fc44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2378&q=80" alt="image" loading="lazy">
            </div>
          </div>
          <p class="blockquote border border-primary rounded w-50 p-3 text-sm text-primary float-md-end mt-4 me-md-n2 mx-auto">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
            <br>
            <br>
            <small>-NOAA</small>
          </p>
          <!-- Second image on the left side of the article -->
          <div class="position-absolute bottom-0 mb-5 ms-n2 me-3 start-0 end-2 d-md-block d-none">
            <div class="blur-shadow-image">
              <img class="image-container border-radius-lg img-fluid position-relative bg-cover" src="https://images.unsplash.com/photo-1474039369477-5e74ff1f0e57?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="image" loading="lazy">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <!-- First image on the right side, above the article -->
          <div class="position-relative ms-n4 mb-5 mt-8 d-md-block d-none">
            <div class="blur-shadow-image">
              <img class="image-right border-radius-lg img-fluid position-relative bg-cover" src="https://images.unsplash.com/photo-1474039208682-b72b9e7bbe6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="image" loading="lazy">
            </div>
          </div>
          <h3 class="mb-4">So what does the new record for the lowest level of winter ice actually mean</h3>
          <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
          </p>
          <p>
            For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
          </p>
          <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
